.error {
    margin: 0 auto;
    align-self: center;
    max-width: fit-content;
    padding: 1rem 2rem;
    background-color: transparent;
    color: red;
    border-radius: 0.3rem;
    font-size: 1.5em;
}

.button {
    padding: 0.1rem 0.5rem;
    background-color: green;
    color: #fff;
    border-radius: 0.3rem;
    font-size: 0.8em;
    display: block;
    margin: 0 auto;
}